@model build_one.Models.OrderingModel
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}

<hr />
@{
    // Code block below is for the total selected items ready to be purchased.
}

<div class="jumbotron">
    <h3> <u> Selected Items </u></h3>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Electricals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " data-toggle="tab" href="#profile">Clothing</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="home">
            <table class="table">
                <thead>
                    <tr>
                        <th> Product ID </th>
                        <th> Product Name </th>
                        <th> Product Type </th>
                        <th> Quantity </th>
                        <th> Price </th>
                        <th> Total Price </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>something else</td>
                        <td>Office Chair</td>
                        <td>Office</td>
                        <td>3</td>
                        <td>$20</td>
                        <td>$60</td>
                        <td>[quantity]</td>
                        <td>
                            <button class="btn-group">
                                Add to Order
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade show" id="profile">
            <table class="table">
                <thead>
                    <tr>
                        <th> Product ID </th>
                        <th> Product Name </th>
                        <th> Product Type </th>
                        <th> Quantity </th>
                        <th> Price </th>
                        <th> Total Price </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ajki</td>
                        <td>Office Chair</td>
                        <td>Office</td>
                        <td>3</td>
                        <td>$20</td>
                        <td>$60</td>
                        <td>
                            <button class="btn-group">
                                Add to Order
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr />
</div>
<hr>
@{
    // this block of code is for checking and processing orders
}
<div class="jumbotron">
    <h3><u> Process Order </u> </h3>

    <div class="row">
        <div class="col-sm-3">
            <button> Total Items </button>
        </div>
        <div class="col-sm-3">
            <button class="btn-goup">
                Check Total
            </button>
        </div>
        <div class="col-sm-3">
            <button class="btn-goup">
                Check Balance
            </button>
        </div>
        <div class="col-sm-3">
            <p> [In Development] </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <input class="form-control" type="text" placeholder="23" readonly>
        </div>
        @{
            int payAmount = Model.CurrentBalance;
        }
        <div class="col-sm-3">
            <p> £ @payAmount</p>
        </div>
        <div class="col-sm-3">
            <input class="form-control" type="text" placeholder="£ 27,980" readonly>
        </div>
        <div class="col-sm-3">
            [In Development]
        </div>
    </div>


</div>
