@{
    ViewData["Title"] = "Home Page";
}
<head>   
    <style>
        #imgdesign {
            border-radius:50%;
        }
    </style>
</head>

<body>
    <!--  First row  -->
    <div class="row">
        <div class="col-sm-4"><img src="~/images/managers.png" id="imgdesign" height="200" width="200" /></div>
        <div class="col-sm-4"><img src="~/images/maps.jpg" id="imgdesign" height="200" width="200" /></div>
        <div class="col-sm-4"><img src="~/images/delivery.png" id="imgdesign" height="200" width="200" /></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-success"> <a asp-area="" asp-controller="ManagementModel" asp-action="Index">Select Management</a> </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success"> <a asp-area="" asp-controller="ManagementModel" asp-action="Index">Store Location</a> </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success"> <a asp-area="" asp-controller="OrderingModel" asp-action="Index"> Place Orders</a> </button>
        </div>
    </div>
    <!-- The second row -->
    <div class="row">
        <div class="col-sm-4"><img src="~/images/Holidays.jpg" id="imgdesign" height="200" width="200" /></div>
        <div class="col-sm-4"><img src="~/images/training.jpg" id="imgdesign" height="200" width="200" /></div>
        <div class="col-sm-4"><img src="~/images/blank.jpg" id="imgdesign" height="200" width="200" /></div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-success"> <a asp-area="" asp-controller="ManagementModel" asp-action="Index"> Book Holidays</a> </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success"> <a asp-area="" asp-controller="ManagementModel" asp-action="Index"> Staff Training</a> </button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success"> <a asp-area="" asp-controller="ManagementModel" asp-action="Index"> PlaceHolder </a> </button>
        </div>
    </div>
    @{
        // book a holiday feature
    }
</body>




